:root {
  $primary-bg-color: #2f303a;
  $primary-grey-color: #f5f4fa;
  $primary-wite-color: #ffffff;
  $primary-text-color: #212121;
  $text-color: #757575;
  $accent-color: #2196f3;
  $accent-bt-color: #188ce8;
  $main-bt-color: #f5f4fa;
  $new-accent-color: #000000;
  $border-accent-color: #eeeeee;
  $border-header-color: #ececec;
  $border-logo-color: #afb1b8;
  $links-background-color: #44454e;
  $svg-color: #afb1b8;
}
